rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // READ permissions
      // An admin can list all users.
      allow list: if isAdmin();
      // An admin can get any user's document.
      // A regular user can only get their own document.
      allow get: if isAdmin() || isOwner(userId);

      // WRITE permissions
      // A public, unauthenticated user can create a 'pending' application.
      // An admin can create an 'invited' user.
      allow create: if (request.auth == null && request.resource.data.status == 'pending') || 
                       (isAdmin() && request.resource.data.status == 'invited');

      // An admin can update any user document.
      // A user can only update their own document.
      allow update: if isAdmin() || isOwner(userId);

      // An admin can delete any user document.
      allow delete: if isAdmin();
    }

    match /projects/{projectId} {
      // Only authenticated users can interact with projects for now
      allow read, write: if request.auth != null;
    }

    match /contractors/{contractorId} {
      allow read, write: if request.auth != null;
    }

    match /projects/{projectId}/dailyReports/{reportId} {
      allow read, write: if request.auth != null;
    }

    match /projects/{projectId}/monthlyReports/{reportId} {
      allow read, write: if request.auth != null;
    }
  }
}
