rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isVerified() {
      return request.auth.token.email_verified == true;
    }

    function getRole() {
      return request.auth.token.role;
    }

    function isAdmin() {
      return isSignedIn() && isVerified() && getRole() == 'admin';
    }

    function isManager() {
      return isSignedIn() && isVerified() && getRole() == 'project_manager';
    }

    match /projects/{projectId}/{allPaths=**} {
      allow read: if isSignedIn() && isVerified();
      allow write, delete: if isAdmin() || isManager();
    }

    match /{allPaths=**} {
      allow read: if isSignedIn() && isVerified();
      allow write: if isAdmin();
    }
  }
}
